
@import '../../variables';

.week {
  &_select {
    display: block;

    background: url('./images/select@2x.png') 95% / 6%  no-repeat $clr-white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    border-radius: 13px;
    border: none;

    margin: 40px auto;
    padding: 20px 140px 16px;

    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: $clr-main-text;
    text-align: center;

    appearance: none;
    cursor: pointer;
    outline: none;
  }
}