// Settings
$font-main: 'Montserrat', sans-serif;

// Colors
$clr-white: #FFFFFF;
$clr-black: #000000;
$clr-emerald: #00BFA5;

$clr-error: #FF0000;
$clr-background: #F4F4F4;

$clr-cell-background: #C4C4C4;
$clr-cell-text: #DDDDDD;
$clr-column-title-border: #00BFA5;

$clr-main-text: #3C444C;
$clr-second-text: #828282;
$clr-placeholder-text: #DADADA;
$clr-border: #858585;

